.header {
    width : 100%;
    position : fixed;
    top: 0;
    left : 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav{
    height: calc(var(--header-height) + 1.5rem);
    display : flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
}

.nav_toggle,
.nav_toggle {
    color : var(--title-color);
    font-weight: var(--font-medium);
}

.nav_list {
    display: flex;
    column-gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.nav_icon,
.nav_close,
.nav_toggle {
    display: none;
}

.nav_logo {
    font-size: 1.5rem;
    transition: all 0.5s ease-out;
    color: #000;
}

.nav_logo:hover {
    filter: drop-shadow(5px 5px 10px #fff);
    font-size: 2.5rem;
    color: var(--link-blue);
    -webkit-filter: drop-shadow(5px 5px 10px #fff);
}

/* Active link  */
.active_link,
.nav_link:hover {
    color: var(--link-blue);
}

/*=============== BREAKPOINTS ===============*/

/* For medium devices */
@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav{
        height: var(--header-height);
    }

    .nav_menu {
        position:fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 3.5rem;
        transition: .3s;
        -webkit-border-radius: 3.5rem;
        -moz-border-radius: 3.5rem;
        -ms-border-radius: 3.5rem;
        -o-border-radius: 3.5rem;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    /* Show Menu */
    .show-menu {
        bottom: 0;
        transition: 0.2s ease;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        -ms-transition: 0.2s ease;
        -o-transition: 0.2s ease;
}

    .nav_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav_icon {
        font-size: 2.3em;
        filter: drop-shadow(0 0 0.75rem rgb(251, 251, 251));
    }

    .nav_close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 2.5em;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav_close:hover {
        color: var(--title-color-dark);
    }

    .nav_toggle {
        font-size: 2.1rem;
        cursor: pointer;  
    }

    .nav_toggle:hover {
        color: var(--link-blue);
    }

    .nav_icon,
    .nav_close,
    .nav_toggle {
        display : flex;
    }

    .nav_icon {
        transition: all 0.5s ease-out;
    }

    .nav_icon:hover {
        font-size: 2.8rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .nav_menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav_list {
        column-gap: 0;
    }
}