.header {
    width : 100%;
    position : fixed;
    top: 0;
    left : 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav{
    height: calc(var(--header-height) + 1.5rem);
    display : flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
}

.nav__logo,
.nav__toggle {
    color : var(--title-color);
    font-weight: var(--font-medium);
}

.nav__list {
    display: flex;
    column-gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__icon,
.nav_close,
.nav__toggle {
    display: none;
}

.nav__logo {
    font-size: 1.9rem;
    transition: all 0.5s ease-out;
    color: #000;
}

.nav__logo:hover {
    filter: drop-shadow(5px 5px 10px #fff);
    font-size: 2.5rem;
    color: var(--link-blue);
    -webkit-filter: drop-shadow(5px 5px 10px #fff);
}

/* Active link  */
.active_link,
.nav__link:hover {
    color: var(--link-blue);
}

/* Change background header  */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15)
}

/*=============== BREAKPOINTS ===============*/

/* For medium devices */
@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav{
        height: var(--header-height);
    }

    .nav__menu {
        position:fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 3.5rem;
        transition: .3s;
    }

    .nav__link {
        font-size: var(--small-font-size);
    }

    /* Show Menu */
    .show-menu {
        bottom: 0;
        transition: 0.2s ease;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__icon {
        font-size: 2rem;
        filter: drop-shadow(5px 5px 10px rgb(251,251,251));
    }

    .nav_close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 2.5em;
        cursor: pointer;
        color: var(--title-color);
        transition: 0.3s;
    }

    .nav_close:hover {
        color: var(--link-blue);
        filter: drop-shadow(5px 5px 10px #fff);
        font-size: 3rem;
        font-weight: bold;
    }


    .nav__toggle {
        font-size: 2.1rem;
        cursor: pointer;  
    }

    .nav__toggle:hover {
        color: var(--link-blue);
    }

    .nav__icon,
    .nav_close,
    .nav__toggle {
        display : flex;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
}